{% load i18n static %}
<!DOCTYPE html>
<html>
<head>
    {% if validlink %}
        <title>Introduzca nueva contraseña</title>
    {% else %}
        <title>Reinicio de contraseña fallido</title>
    {% endif %}
</head>

{% block content_title %}<h1>{{ title }}</h1>{% endblock %}
{% block content %}

{% if validlink %}

<p>Por favor introduzca su nueva contraseña dos veces de manera que podamos verificar que la ha escrito correctamente.</p>

<form method="post">{% csrf_token %}

    <div class="form-row field-password1">
        {{ form.new_password1.errors }}
        <label for="id_new_password1">Contraseña nueva:</label>
        {{ form.new_password1 }}
    </div>
    <br>
    <div class="form-row field-password2">
        {{ form.new_password2.errors }}
        <label for="id_new_password2">Confirme contraseña: </label>
        {{ form.new_password2 }}
    </div>
    <br>
    <input type="submit" value="Cambiar mi contraseña">

</form>

{% else %}

<p>El enlace de reinicialización de contraseña es inválido, posiblemente debido a que ya ha sido usado. Por favor solicite una nueva reinicialización de contraseña.</p>

{% endif %}

{% endblock %}
</html>