{% load i18n admin_static %}
<!DOCTYPE html>
<html>
<head>
    <title>Se ha enviado un email de reinicialización de contraseña</title>
</head>
<body>
    <h1>Se ha enviado un email de reinicialización de contraseña</h1>
    <p>Se le han enviado instrucciones sobre cómo establecer su contraseña. Si la dirección de email que proveyó existe, debería recibir las mismas pronto.</p>
    <p>Si no ha recibido un email, por favor asegúrese de que ha introducido la dirección de correo con la que se había registrado y verifique su carpeta de Correo no deseado.</p>
    <br>
    <p>En caso de que no llegue el mail, podés consultarnos a: soporte@fameghino.com.ar</p>
</body>
</html>