{% load i18n admin_static %}
<!DOCTYPE html>
<html>
<head>
    <title>Resetear password</title>
</head>
<body>
<p>¿Olvidó su contraseña? Introduzca su usuario abajo y le enviaremos instrucciones por email para establecer una nueva.</p>
    <form method="post">{% csrf_token %}
        <div>
            {{ form.email.errors }}
            <label for="id_email">Dirección de email: </label>
            {{ form.email }}
        </div>
        <br>
        <input type="submit" value="Recuperar mi contraseña" />
    </form>
</body>
</html>