{% load adminlte_helpers i18n %}
<header class="main-header">
    <!-- Logo -->
        {% block logo %}
    <a href="{% block logo_href %}/{% endblock %}" class="logo">
        <span class="logo-mini">
            {% block logo_text_small %}
                <img src="/static/images/logo_ea.png" width="45px">
            {% endblock %}
        </span>
        <span class="logo-lg">
                <img src="/static/images/logo_ea.png" width="40px">
                {% block logo_text %}
                    <span style="font-family:'Mont Heavy'">
                        EDU
                    </span>
                    <span style="font-family:'Mont ExtraLight'">
                        ANALYTICS
                    </span>
                {% endblock %}
        </span>
    </a>

    {% endblock %}

    <!-- Header Navbar: style can be found in header.less -->
    {% block nav_bar %}
    <nav class="navbar navbar-static-top">
        <!-- Sidebar toggle button-->
        <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </a>

        {% block nav_bar_center %}{% endblock %}

        {% block nav_custom_menu %}
        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
                {% block header_dropdowns %}

                        <!-- Messages: style can be found in dropdown.less-->
                        <li class="dropdown messages-menu">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-envelope-o"></i>
                        <!--<span class="label label-success">4</span>-->
                        </a>
                        <ul class="dropdown-menu">
                        <li class="header">No tienes mensajes</li>
                        <!--<li>
                        <ul class="menu">
                        <li>
                        <a href="#">
                          <div class="pull-left">
                            <i class="fa fa-wrench text-olive"></i>
                          </div>
                          <h4>
                            Soporte técnico
                            <small><i class="fa fa-clock-o"></i> 5 mins</small>
                          </h4>
                          <p>Porque no cambiar el tema?</p>
                        </a>
                        </li>

                        </ul>
                        </li>
                        <li class="footer"><a href="#">Ver todos los mensajes</a></li>
                        -->
                        </ul>
                        </li>
<!-- Notifications: style can be found in dropdown.less -->
<!--                        <li class="dropdown notifications-menu">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-bell-o"></i>

                        </a>
                        <ul class="dropdown-menu">
                        <li class="header">No tienes notificaciones</li>
                        <li>
                        <ul class="menu">
                        <li>
                        <a href="#">
                          <i class="fa fa-users text-aqua"></i> 5 nuevos miembros se unieron hoy
                        </a>
                        </li>
                        </ul>
                        </li>
                        <li class="footer"><a href="#">Ver todos</a></li>

                        </ul>
                        </li>
-->

<!-- Tasks: style can be found in dropdown.less -->
<!--
                        <li class="dropdown tasks-menu">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-flag-o"></i>
                        </a>
                        <ul class="dropdown-menu">
                        <li class="header">No tienes tareas</li>
                        <li>
                        <ul class="menu">
                        <li>
                        <a href="#">
                          <h3>
                            Diseñar algunos botones
                            <small class="pull-right">20%</small>
                          </h3>
                          <div class="progress xs">
                            <div class="progress-bar progress-bar-aqua" style="width: 20%" role="progressbar"
                                 aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                              <span class="sr-only">20% Complete</span>
                            </div>
                          </div>
                        </a>
                        </li>
                        </ul>
                        </li>
                        <li class="footer">
                        <a href="#">Ver todas las tareas</a>
                        </li>
                        </ul>
                        </li>
-->

                         <li class="dropdown user user-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <img src="{% avatar_url size=50 %}" class="user-image" alt="User Image">
                                <span class="hidden-xs">{% firstof request.user.get_short_name request.user.get_username %}</span>
                            </a>
                            <ul class="dropdown-menu">
                                {% block user_header %}
                                <li class="user-header">
                                    <img src="{% avatar_url size=180 %}" class="img-circle" alt="User Image">
                                    <p>
                                        {% firstof request.user.get_short_name request.user.get_username %}
                                        <small>Se unión el {{ request.user.date_joined }}</small>
                                    </p>
                                </li>
                                {% endblock %}

                                <!-- Menu Footer-->
                                {% block menu_footer %}
                                <li class="user-footer">
                                    <div class="pull-left">
                                        <a href="/change_password"
                                           class="btn btn-default btn-flat">Cambiar contraseña</a>
                                    </div>
                                    <div class="pull-right">
                                        <a href="/logout" class="btn btn-default btn-flat">Salir</a>
                                    </div>
                                </li>
                                {% endblock %}

                            </ul>
                        </li>


                {% endblock header_dropdowns %}
            </ul>
        </div>

            <!-- jQuery 3 -->
 {% endblock nav_custom_menu %}
    </nav>
    {% endblock %}
</header>
